<%- include("includec/header")%>

<body>
  <div>
    <div>products page</div>
    <div><%=member.memberNick%></div>

    <% products.map((value, key) => { %>
    <p><%= value.productName %> - <%= value.productSize %></p>
    <% } ) %>
  </div>
</body>

<%- include("includec/footer")%>
